<h1><%= @chapter.name %></h1>

<h2>Sections:</h2>
<% if @chapter.sections.any? %>
  <ul>
    <li>
      <% @chapter.sections.each do | section | %>
        <%= section.name %>
        <%= link_to "Edit", edit_chapter_section_path(@chapter, section) %> |
        <%= link_to "Delete", chapter_section_path(@chapter, section),
                              :data => {:confirm => "Are you sure?",
                                          :method => "delete"} %>
      <% end %>
    </li>
  </ul>
<% else %>
  <p>There are no sections so far!</p>
<% end %>

<p><%= link_to "Add a new Section", new_chapter_section_path(@chapter) %></p>
<p><%= link_to "Delete Chapter", chapter_path(@chapter),
                                  :data => {:confirm => "Are you really sure?",
                                            :method => "delete"}%></p>
